<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.online.mapper.TestMapper">

	<!-- testPaper -->
	<select id="selectAnswerList" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT    
		    q.question_idx questionIdx
		   , p.answer answer
		FROM question q LEFT JOIN paper p
		ON p.question_no = q.question_no
		WHERE q.test_no = #{testNo}
		ORDER BY q.question_no, p.student_no ASC
	</select>


	<select id="selectQuestionList" resultType="goodee.gdj58.online.vo.Question" parameterType="java.util.Map">
		SELECT
			question_no questionNo 
			, test_no testNo
			, question_idx questionIdx
			, question_title questionTitle
		FROM question 
		WHERE test_no = #{testNo}
		ORDER BY question_no ASC
	</select>

	<select id="selectTestPaperList" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT 	
			 q.question_no questionNo
			, q.test_no testNo
			, q.question_idx questionIdx
			, q.question_title questionTitle
			, e.example_no exampleNo
			, e.question_no questionNo2
			, e.example_idx exampleIdx
			, e.example_title exampleTitle
			, e.example_ox exampleOx
			, p.paper_no paperNo
			, p.question_no questionNo3
			, p.student_no studentNo
			, p.answer answer
		FROM question q LEFT JOIN example e
		ON q.question_no = e.question_no
		LEFT JOIN paper p
		ON p.question_no = e.question_no 
		WHERE q.test_no = #{testNo}
		ORDER BY e.example_no ASC
	</select>

	<!-- student/test -->
	<select id="selectStudentTestList" resultType="goodee.gdj58.online.vo.Test" parameterType="java.util.Map">
		SELECT
			test_no testNo
			, test_title testTitle
			, test_date testDate
		FROM test
		ORDER BY test_no DESC
		LIMIT #{beginRow}, #{rowPerPage}	
	</select>

	<!-- teacher/test -->
	<delete id="deleteTest">
		DELETE FROM test
		WHERE test_no = #{testNo}
	</delete>

	<update id="updateTest" parameterType="goodee.gdj58.online.vo.Test">
		UPDATE test
		SET test_title = #{testTitle}
			, test_date = #{testDate}
		WHERE test_no = #{testNo}	
	</update>

	<insert id="insertTest" parameterType="goodee.gdj58.online.vo.Test">
		INSERT INTO test (
			test_title
			, test_date
		) VALUES (
			#{testTitle}
			,#{testDate}
		)
	</insert>

	<select id="selectTestList" resultType="goodee.gdj58.online.vo.Test" parameterType="java.util.Map">
		SELECT
			test_no testNo
			, test_title testTitle
			, test_date testDate
		FROM test
		ORDER BY test_no DESC
		LIMIT #{beginRow}, #{rowPerPage}	
	</select>
</mapper>