<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.online.mapper.TestMapper">

	<!-- testPaper -->
	<select id="selectTestPaperList" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT *
		FROM test t INNER JOIN question q 
		ON t.test_no = q.question_no
		INNER JOIN example e 
		ON e.question_no = q.question_no
		INNER JOIN paper p
		ON p.question_no = e.question_no
		WHERE t.test_no = #{testNo}
		ORDER BY q.question_no ASC
	</select>

	<!-- student/test -->
	<select id="selectStudentTestList" resultType="goodee.gdj58.online.vo.Test" parameterType="java.util.Map">
		SELECT
			test_no testNo
			, test_title testTitle
			, test_date testDate
		FROM test
		ORDER BY test_no DESC
		LIMIT #{beginRow}, #{rowPerPage}	
	</select>

	<!-- teacher/test -->
	<update id="updateTest" parameterType="goodee.gdj58.online.vo.Test">
		UPDATE test
		SET test_title = #{testTitle}
			, test_date = #{testDate}
		WHERE test_no = #{testNo}	
	</update>

	<insert id="insertTest" parameterType="goodee.gdj58.online.vo.Test">
		INSERT INTO test (
			test_title
			, test_date
		) VALUES (
			#{testTitle}
			,#{testDate}
		)
	</insert>

	<select id="selectTestList" resultType="goodee.gdj58.online.vo.Test" parameterType="java.util.Map">
		SELECT
			test_no testNo
			, test_title testTitle
			, test_date testDate
		FROM test
		ORDER BY test_no DESC
		LIMIT #{beginRow}, #{rowPerPage}	
	</select>
</mapper>